<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.kanawish.glia.feature"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Tell the system this app requires OpenGL ES 2.0. -->
    <!--<uses-feature android:glEsVersion="0x00020000" android:required="true" />-->

    <!-- Tell the system this app requires OpenGL ES 3.0. -->
    <!--<uses-feature android:glEsVersion="0x00030000" android:required="true" />-->

    <!-- Tell the system this app requires OpenGL ES 3.1. -->
    <uses-feature android:glEsVersion="0x00030001" android:required="true" />

    <application
        android:name=".GLEpisodesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />
        <activity
            android:name=".ep00.GLEp00Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ep01.GLEp01Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ep02.GLEp02Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".arcore.ArCoreActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter
                android:autoVerify="true"
                android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="kanawish-website.firebaseapp.com"
                    android:pathPattern="/cube"
                    android:scheme="https" />
                <data android:scheme="http"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="default-url"
                android:value="https://kanawish-website.firebaseapp.com/cube" />
        </activity>
        <meta-data android:name="com.google.ar.core" android:value="required" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.ar.codelab.name.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths"/>
        </provider>

    </application>

</manifest>